name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: 'ubuntu-latest'

    strategy:
      matrix:
        node: [14]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: make install

      - name: Lint
        run: make lint

  test:
    runs-on: 'ubuntu-latest'

    strategy:
      matrix:
        node: [14]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: make install

      - name: Test (unit)
        run: make test